<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form method="post" action="/user/<%= user.id %>?_method=PATCH">
        <p>Username :</p>
        <textarea name="username"><%= user.username %></textarea>
        <br>
        <p>Email :</p>
        <textarea name="email"><%= user.email %></textarea>
        <br>
        <p>Password :</p>
        <input type="password" name="password">
        <br>
        <br>
        <button>Submit</button>
        
    </form>
</body>
</html>